<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="../styles/output.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../assets/logos/logo_sin_fondo._rectangular.PNG" alt="logo Concrete Jungle">
        </div>
  
        
        <!-- Menú hamburguesa -->
        <div id="mobile-menu" class="menu-container">

            <button class="menu-toggle" ><img src="../assets/logos/icon-menu.png" alt=""></button>
            <ul class="menu-links" >
                <button id="close-menu" class="lg:hidden"><img src="../assets/logos/cerrar-menu.png" alt=""></button>
                 <!-- Buscador -->
                  <div class="search-bar">
                    <input type="search" placeholder="Buscar productos o categorías..." >
                    <button type="button" >
                        <span></span>
                    </button>
                    <select aria-label="Filtrar por categoría">
                        <option value="">Todas las categorías</option>
                        <option value="camisetas">Camisetas</option>
                        <option value="sudaderas">Sudaderas</option>
                        <option value="pantalones">Pantalones</option>
                        <option value="zapatillas">Zapatillas</option>
                        <option value="accesorios">Accesorios</option>
                    </select>
                </div>
                <li><a class=" hover:text-azul-claro hover:underline hover:text-xl" href="../index.html">Inicio</a></li>
                <li><a class=" hover:text-azul-claro hover:underline hover:text-xl" href="#novedades">Novedades</a></li>
                <li><a class=" hover:text-azul-claro hover:underline hover:text-xl" href="#hombre">Hombre</a></li>
                <li><a class=" hover:text-azul-claro hover:underline hover:text-xl" href="#mujer">Mujer</a></li>
                <li><a class=" hover:text-azul-claro hover:underline hover:text-xl" href="../backend/index.php">Administración</a></li>
                <li><a class=" hover:text-azul-claro hover:underline hover:text-xl" href="#ofertas">Ofertas</a></li>
                <li><button class="login boton-rojo" onclick="location.href='../backend/forms/login/form_login.php'">Login</button></li>
            </ul>
        </div>
    </header>
    <main class="p-8 bg-azul-oscuro min-h-screen text-beige">
        <h1 class="text-3xl font-bold mb-6">Detalle del Producto</h1>
        <div class="product-detail flex flex-col md:flex-row gap-8">
            <div class="product-image">
                <img src="../assets/imagenes/stretwear_hoodie.png" alt="Nombre del Producto" class="w-100 h-auto rounded-lg shadow-md">
            </div>
            <div class="product-info flex-1">
                <h2 class="text-2xl font-semibold mb-4 text-azul-claro">Sudadera Streetwear</h2>
                <div class="product-description mb-6">
                    <p class=" mb-4">La sudadera "Concrete Wave" está confeccionada pensando en la calle. Su interior cepillado aporta una suavidad térmica ideal para temporadas medias y frías. Presenta un corte ligeramente oversize que favorece la libertad de movimiento y permite llevarla sola o sobre capas. Detalles cuidados como costuras reforzadas, puños acanalados y capucha con cordón regulable elevan la durabilidad y el confort. El logo bordado en el pecho añade un toque sobrio y premium sin perder la identidad streetwear.</p>
                    <ul class="list-disc list-inside">
                        <h3>Materiales:</h3>
                        <li class="mb-2">80% algodón orgánico.</li>
                        <li class="mb-2">20% poliéster reciclado.</li>
                    </ul>
                </div>

                <div class="tallas">
                    <form action=""> 
                        <span class="font-bold">Tallas:</span>
                        <label class="mr-4">
                            <input type="radio" name="talla" value="S" class="mr-1"> S
                        </label>
                        <label class="mr-4">
                            <input type="radio" name="talla" value="M" class="mr-1"> M
                        </label>
                        <label class="mr-4">
                            <input type="radio" name="talla" value="L" class="mr-1"> L
                        </label>
                        <label class="mr-4">
                            <input type="radio" name="talla" value="XL" class="mr-1"> XL
                        </label>
                    </form>
                </div>
                <p class="text-xl font-bold mb-4">$49.99</p>
                <button class="boton-rojo">Agregar al Carrito</button>
                <button class="boton-rojo ml-4">Comprar Ahora</button>

            </div>
        </div>
        <section class="reviews">
            <h2 class="text-2xl font-semibold mt-12 mb-6">Reseñas de Clientes</h2>
            <div class="review-item mb-4">
                <p class="font-bold text-azul-claro">Usuario123</p>
                <p>¡Me encanta este producto! La calidad es excelente y el diseño es muy moderno.</p>
                <span class="flex">
                    <img src="../assets/logos/estrella_con_relleno.png" alt=""><img src="../assets/logos/estrella_con_relleno.png" alt=""><img src="../assets/logos/estrella_con_relleno.png" alt=""><img src="../assets/logos/estrella_con_relleno.png" alt=""><img src="../assets/logos/estrella_sin_relleno.png" alt="">
                </span>
            </div>
            <div class="review-item mb-4">
                <p class="font-bold text-azul-claro">Usuario234</p>
                <p>¡Me encanta este producto! La calidad es excelente y el diseño es muy moderno.</p>
                <span class="flex">
                    <img src="../assets/logos/estrella_con_relleno.png" alt=""><img src="../assets/logos/estrella_con_relleno.png" alt=""><img src="../assets/logos/estrella_con_relleno.png" alt=""><img src="../assets/logos/estrella_con_relleno.png" alt=""><img src="../assets/logos/estrella_sin_relleno.png" alt="">
                </span>
            </div>
        </section>
    </main>  
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Sobre Nosotros</h3>
                <p>Concrete Jungle es tu destino para el mejor streetwear urbano.</p>
            </div>
            
            <div class="footer-section">
                <h3>Contacto</h3>
                <ul>
                    <li>Email: info@concretejungle.com</li>
                    <li>Teléfono: +34 900 123 456</li>
                    <li>Horario: L-V 9:00-18:00</li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h3>Síguenos</h3>
                <div class="social-links">
                    <a href="#instagram" >IG</a>
                    <a href="#facebook">FB</a>
                    <a href="#twitter">TW</a>
                    <a href="#tiktok">TT</a>
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2025 Concrete Jungle. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="../JavaScript/menu.js"></script>
</body>
</html> 