@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
$color-fondo: #003049;
$color-texto: #fdf0d5;
$color-accent: #780000;
$color-secundario: #669BBC;
$color-primario: #C1121F;
$fuente-principal: 'Roboto', sans-serif;
$fuente-secundaria: 'Montserrat', sans-serif;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente-principal;
    background-color: $color-fondo;
    color: $color-texto;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fuente-secundaria;
    color: $color-texto;
}

header{
    background-color: $color-fondo;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    .logo{
        padding: 1rem;
        img{
            width: 250px;
        }
    }
    .menu-toggle{
        background: transparent;
        width: 36px;
        height: 36px;
        padding: 0;
        z-index: 1500;
        position: fixed;
        top: 24px;
        right: 16px;
        :hover{
            cursor: pointer;
            transform: scale(1.2);
        }
        @media  (min-width: 1024px) {
            display: none;
        }
    }

    .mobile-menu.active {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: flex-start;
        align-items: flex-start;
        top: 64px;
        left: 0;
        right: 0;
        z-index: 50;
        @media (min-width: 1024px) {
            display: none;
        }
    }

    .menu-links {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        margin-right: 1rem;
        align-items: center;
        li a {
            text-decoration: none;
            color: $color-texto;
            font-weight: bold;

            &:hover {
                color: $color-accent;
            }
        }

        #close-menu {
            align-self: flex-end;
            margin: 1rem;
            background: transparent;
            border: none;
            font-size: 1.5rem;
            color: $color-texto;

            &:hover {
                cursor: pointer;
                color: $color-accent;
            }

            @media (min-width: 1024px) {
                display: none;
            }
        }

        .login{
            background: $color-primario;
            padding: 8px 16px;
            border-radius: 8px;
            color: $color-texto;
            border: none;
            &:hover{
                background: $color-accent;
                transform: scale(1.2);
            }
        }

        .search-bar{
            display: flex;
            align-items: center;
            padding: 4px 8px;
            border: none;
            gap: 4px;

            input{
                border: $color-secundario 1px solid;
                background: rgba($color-secundario, 0.1);
                color: $color-texto;
                width: 100%;
                border-radius: 4px;
                padding: 8px;
                &:focus{
                    outline: none;
                }
            }

            select{
                border: $color-secundario 1px solid;
                background: rgba($color-secundario, 0.1);
                color: $color-texto;
                padding: 8px;
                border-radius: 4px;
                padding: 8px;
                &:focus{
                    outline: none;
                }
            }
        }
    }
}

footer{
    background-color: rgba0($color-fondo, 0.6);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    padding: 32px;
    color: $color-texto;

    .footer-section{
        flex: 1 1 200px;
        margin-bottom: 16px;

        h3{
            margin-bottom: 8px;
        }

        p, a{
            font-size: 14px;
            color: $color-texto;
            text-decoration: none;

            &:hover{
                color: $color-accent;
            }
        }
    }
}



