@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
$color-fondo: #003049;
$color-fondo-footer: rgba(0,0,0,0.3);
$color-texto: #fdf0d5;
$color-accent: #780000;
$color-secundario: #669BBC;
$color-primario: #C1121F;
$fuente-principal: 'Roboto', sans-serif;
$fuente-secundaria: 'Montserrat', sans-serif;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente-principal;
    background-color: $color-fondo;
    color: $color-texto;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fuente-secundaria;
    color: $color-texto;
} 



header {
    background-color: $color-fondo;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;


    .logo {
        padding: 1rem;
    }

    /* Logo */
    .logo img {
        width: 250px;
    }

    /* Botón menú hamburguesa */
    .menu-toggle {
        background: transparent;
        width: 36px;
        height: 36px;
        padding: 0;
        z-index: 1500;
        position: fixed;
        top: 12px;
        right: 12px;
        margin-top: 0.5rem;
    }

    .menu-toggle img {
        width: 100%;
        height: auto;
        display: block;
    }
        /* Menú móvil */

    .mobile-menu.active {
        position: fixed;
        top: 0;
        width: 75%;
        height: 100%;
        background-color: $color-fondo;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
        padding: 0.5rem;
        transition: left 0.3s ease;
        z-index: 1200;
    }
    .menu-links {
        display: none;
        list-style: none;
    }
    .menu-links.active {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
        font-size: 1.5em;
    }
    .menu-links li img {
        display: none;
    }

    #close-menu {
        background: none;
    }
    #close-menu img {
        width: 40px;
        height: auto;
    }

    .menu-toggle:hover img {
        filter: brightness(1.2);
    }

    .login {
        background-color: $color-primario;
        padding: .5rem 1rem;
        border-radius: 5px;
        color: $color-texto;
        font-weight: bold;
    }

    /* Buscador */
    .search-bar {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .search-bar input[type="search"] {
        width: 100%;
        padding: 1rem;
        border: 2px solid $color-secundario;
        background-color: rgba(102, 155, 188, 0.1);
        color: $color-texto;
        border-radius: 5px;
        font-size: 0.9rem;
    }

    .search-bar input[type="search"]::placeholder {
        color: hsla(40, 91%, 91%, 0.6);
    }

    .search-bar button {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        color: $color-texto;
        padding: .5rem;
        display: none;
    }

    .search-bar select {
        width: auto;
        padding: 1rem;
        border: 2px solid $color-secundario;
        background-color: $color-fondo;
        color: $color-texto;
        border-radius: 5px;
        font-size: 0.9rem;
    }    
}

footer{
    background-color: $color-fondo-footer;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    padding: 32px;
    color: $color-texto;

    .footer-section{
        flex: 1 1 200px;
        margin-bottom: 16px;

        h3{
            margin-bottom: 8px;
        }

        p, a{
            font-size: 14px;
            color: $color-texto;
            text-decoration: none;

            &:hover{
                color: $color-accent;
            }
        }
    }
}



