@charset "UTF-8";
@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #003049;
  color: #fdf0d5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #fdf0d5;
}

header {
  background-color: #003049;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  /* Logo */
  /* Botón menú hamburguesa */
  /* Menú móvil */
  /* Buscador */
}

header .logo {
  padding: 1rem;
}

header .logo img {
  width: 250px;
}

header .menu-toggle {
  background: transparent;
  width: 36px;
  height: 36px;
  padding: 0;
  z-index: 1500;
  position: fixed;
  top: 12px;
  right: 12px;
  margin-top: 0.5rem;
}

header .menu-toggle img {
  width: 100%;
  height: auto;
  display: block;
}

header .mobile-menu.active {
  position: fixed;
  top: 0;
  width: 75%;
  height: 100%;
  background-color: #003049;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  transition: left 0.3s ease;
  z-index: 1200;
}

header .menu-links {
  display: none;
  list-style: none;
}

header .menu-links.active {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.5em;
}

header .menu-links li img {
  display: none;
}

header #close-menu {
  background: none;
}

header #close-menu img {
  width: 40px;
  height: auto;
}

header .menu-toggle:hover img {
  filter: brightness(1.2);
}

header .login {
  background-color: #C1121F;
  padding: .5rem 1rem;
  border-radius: 5px;
  color: #fdf0d5;
  font-weight: bold;
}

header .search-bar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

header .search-bar input[type="search"] {
  width: 100%;
  padding: 1rem;
  border: 2px solid #669BBC;
  background-color: rgba(102, 155, 188, 0.1);
  color: #fdf0d5;
  border-radius: 5px;
  font-size: 0.9rem;
}

header .search-bar input[type="search"]::placeholder {
  color: rgba(253, 239, 211, 0.6);
}

header .search-bar button {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: #fdf0d5;
  padding: .5rem;
  display: none;
}

header .search-bar select {
  width: auto;
  padding: 1rem;
  border: 2px solid #669BBC;
  background-color: #003049;
  color: #fdf0d5;
  border-radius: 5px;
  font-size: 0.9rem;
}

footer {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  padding: 32px;
  color: #fdf0d5;
}

footer .footer-section {
  flex: 1 1 200px;
  margin-bottom: 16px;
}

footer .footer-section h3 {
  margin-bottom: 8px;
}

footer .footer-section p, footer .footer-section a {
  font-size: 14px;
  color: #fdf0d5;
  text-decoration: none;
}

footer .footer-section p:hover, footer .footer-section a:hover {
  color: #780000;
}
