@import "tailwindcss";

@theme {
   
    --color-azul-oscuro: #003049;
    --color-beige: #FDF0D5;
    --color-rojo: #C1121F;
    --color-azul-claro: #669BBC;
    --color-granate: #780000;
    
}

@layer components{
    .product-card{
        @apply bg-azul-claro text-beige p-4 rounded-lg shadow-md flex flex-col items-center justify-center w-min ;
    }

    .header{
        @apply bg-azul-oscuro text-beige w-full p-4 flex items-center justify-between sticky top-0 z-50 shadow-md;
    }

    .boton-rojo{
        @apply bg-rojo text-beige px-4 py-2 rounded hover:bg-granate transition border border-beige;
    }

    .boton-azul{
        @apply bg-azul-claro text-beige px-4 py-2 rounded hover:bg-granate transition border border-beige;
    }


}