@import "tailwindcss";

@theme {
    --color-text: #FDF0D5;
    --color-background: #003049;
    --text-color: #FDF0D5;
    --secondary-color: #669BBC;
    --accent-color: #780000;
}

@layer components{
    .product-card{
        @apply bg-background text-text p-4 rounded-lg shadow-md flex flex-col items-center hover:shadow-lg transition-shadow duration-300;
    }
}